aiofiles
aiohttp==3.9.3
apscheduler
asyncio==3.4.3
bing_image_downloader
cachetools
dnspython==2.3.0
future==0.18.3
gitpython
googlesearch-python
gTTS
hachoir
heroku3
httpx==0.25.2
lexica-api==1.4.7
lyricsgenius
motor
MukeshAPI
ntgcalls==1.1.2
openai
pillow==9.5.0
psutil
py-tgcalls==1.2.9
pykeyboard
python-dotenv
pyyaml==6.0.1
qrcode
SafoneAPI
search_engine_parser
speedtest-cli
spotipy
SafoneAPI
TheApix
telegraph==2.2.0
telethon==1.33.1
tgcrypto
unidecode
wget
youtube_search
youtube-search-python
yt-dlp
#git+https://github.com/joetats/youtube_search@master
#git+https://github.com/alexmercerind/youtube-search-python@main
https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.23.zip
git+https://github.com/yasirarism/privatebin-api
